{% extends "dashboard_base.html" %}
{% load compress %}
{% load addcss %}
{% load crispy_forms_tags %}
{% load feedback_form_tag %}

{% block title %}
Tilbakemeldingsskjema - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/dashboard/feedback.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
Tilbakemeldingsskjema
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/feedback/">Tilbakemeldingsskjemaer</a></li> 
    <li>Tilbakemeldingsskjema</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class ="col-md-12">
        <a href="#" id="feedback-add-textquestion" class="btn btn-primary"><i class="fa fa-plus"></i> Legg til tekstspørsmål</a>
        <a href="#" id="feedback-add-ratingquestion" class="btn btn-primary"><i class="fa fa-plus"></i> Legg til ratingspørsmål</a>
        <a href="#" id="feedback-add-mcquestion" class="btn btn-primary"><i class="fa fa-plus"></i> Legg til flervalgsspørsmål</a>
    </div>
    <div class="col-md-12" style="display:none" id="feedback-add-textquestion-form">
        <hr />
        <form method="POST" action="{% url 'dashboard_feedback_new_textquestion' feedback.feedback_id %}">
            {% csrf_token %}
            {% display_form textquestion_form %}
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save fa-lg"></i> Legg til</i>
                </button>            
            </div>
        </form>   
    </div>
    <div class="col-md-12" style="display:none" id="feedback-add-ratingquestion-form">
        <hr />
        <form method="POST" action="{% url 'dashboard_feedback_new_ratingquestion' feedback.feedback_id %}">
            {% csrf_token %}
            {% display_form ratingquestion_form %}
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save fa-lg"></i> Legg til</i>
                </button>
            </div>
        </form>   
    </div>
    <div class="col-md-12" style="display:none" id="feedback-add-mcquestion-form">
        <hr />
        <form method="POST" action="{% url 'dashboard_feedback_new_mcquestion' feedback.feedback_id %}">
            {% csrf_token %}
            {% display_form mcquestion_form %}
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save fa-lg"></i> Legg til</i>
                </button>
            </div>
        </form>   
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tilbakemeldingsskjema</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="col-md-2 pull-right">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save fa-lg"></i>
                </button>
                <a href="{% url 'dashboard_feedback_delete' feedback.feedback_id %}" class="btn btn-danger feedback-delete"><i class="fa fa-times fa-lg"></i></a>    
            </div>
            {% display_form feedback_form %}
        </form>
    </div>
</div>
{% if textquestions %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tekstspørsmål</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            {% for pk, form in textquestions %}
                <div class="row row-space well">
                    <form method="POST" action="{% url 'dashboard_feedback_edit_textquestion' feedback.feedback_id pk %}">
                        {% csrf_token %}
                        <div class="col-md-2 pull-right">
                            <button type="submit" class="btn btn-success editquestion">
                                <i class="fa fa-save fa-lg"></i>
                            </button>
                            <a href="{% url 'dashboard_feedback_delete_textquestion' feedback.feedback_id pk %}" class="btn btn-danger">
                            <i class="fa fa-times fa-lg"></i></a>
                        </div>
                        {% display_form form %}
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% if ratingquestions %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ratingsprøsmål</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            {% for pk, form in ratingquestions %}
                <div class="row row-space well">
                    <form method="POST" action="{% url 'dashboard_feedback_edit_ratingquestion' feedback.feedback_id pk %}">
                        {% csrf_token %}
                        <div class="col-md-2 pull-right">
                            <button type="submit" class="btn btn-success editquestion">
                                <i class="fa fa-save fa-lg"></i>
                            </button>
                            <a href="{% url 'dashboard_feedback_delete_ratingquestion' feedback.feedback_id pk %}" class="btn btn-danger">
                            <i class="fa fa-times fa-lg"></i></a>
                        </div>
                        {% display_form form %}
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% if mcquestions %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Flervalgsprøsmål</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            {% for pk, form in mcquestions %}
                <div class="row row-space well">
                    <form method="POST" action="{% url 'dashboard_feedback_edit_mcquestion' feedback.feedback_id pk %}">
                        {% csrf_token %}
                        <div class="col-md-2 pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save fa-lg"></i>
                            </button>
                            <a href="{% url 'dashboard_feedback_delete_mcquestion' feedback.feedback_id pk %}" class="btn btn-danger">
                            <i class="fa fa-times fa-lg"></i></a>
                        </div>
                        {% display_form form %}
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
